body {
    font-family: 'Outfit';
    background: linear-gradient(#ffdad5, #fff7f9);
    padding-top: 15px;
}

header {
    background: linear-gradient(135deg, #ffdad5, #fff7f9); 
    padding: 20px 0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
    
.header-first-div {
    max-width: 1200px; 
    margin: 0 auto; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.header-first-div h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 30px;
    color: #0080ff;
    margin: 0;
}
    
.header-first-div p {
    font-family: 'Outfit', sans-serif;
    color: #a363aa;
    font-size: 15px;
    margin: 5px 0 0;
}
    
/* Menu Icon */
.menu-icon {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #0080ff;
}

nav {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}

footer {
    background-color: #0080ff;
    color: white;
    text-align: center;
    font-size: 15px;
    width: 100%;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 15px;
    position: relative;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

form {
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 15px;
} 

.contact-left {
    display : flex;
    flex-direction: column;
    gap: 20px;
}

#contact-left-title h2{
    position: absolute;
    display: flex;
    font-weight: 600;
    color: #a363aa;
    align-items: center;
    text-align: center;
    margin-left: 665px;
    margin-top: 20px;
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 15px;
    width: 400px;
}
#contact-left-image {
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: 700px;
    margin-top: 270px;
}

.contact-right img {
    margin-top: 0;
}

.contact-left textarea {
    width: 400px;
    height: 140px;
    padding-top: 15px;
    padding-left: 15px;
    border-radius: 20px;
}
    
.contact-inputs:focus {
    border: 2px solid #ff994f
}

.contact-left-input {
    width: 400px;
    height: 50px;
    border-radius: 20px;
    padding-left: 15px;
}
    
.contact-left button {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #ff994f, #fa6d86);
    cursor: pointer;
}

.availability label {
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
}

.availability input {
    margin-right: 10px;
}

/* Styles pour le bouton WhatsApp */
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
    background-color: #20c056;
}

#slider-wrapper {
    position: absolute;
    top: 150vh;
    right : 25vh;
    bottom: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    z-index: 1000;
}

.slider-wrapper img {
    width: 265px;
    height: 265px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Styles spécifiques au Galaxy S20 Ultra */
@media (max-width: 421px) {
    header h1, header p {
        padding-left: 15px;
        padding-right: 8px;
        text-align: center;
    }
    form {
        padding: 15px;
    }

    .contact-left, .contact-right {
        width: 100%;
        padding: 0;
    }

    .contact-left-title {
        font-size: 20px;
        text-align: right;
    }
    #contact-left-title h2 {
        display: none;
    }
    .contact-left button[type="submit"] {
        width: 100%;
        margin-top: 20px;
        font-size: 14px;
    }

    #contact-left-image, .contact-right img {
        display: none;
    }

    .contact-left-input, .contact-left textarea, .contact-left select {
        width: 330px;
        font-size: 14px;
        padding: 8px;
        margin-right: 5px;
        margin-left: 5px;
    }

    .availability label {
        font-size: 12px;
    }

    h1 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }

    .menu-icon {
        display: block; /* Exibe o ícone do menu */
        font-size: 30px; /* Tamanho do ícone */
        color: #0080ff; /* Cor do ícone */
        cursor: pointer; /* Cursor indicando que o ícone é clicável */
        position: absolute; /* Posiciona o ícone no topo */
        top: 80px; /* Alinhamento ao topo */
        right: 20px; /* Alinhamento à direita */
        z-index: 1001; /* Garante que o ícone fique acima de outros elementos */
    }

    nav {
        display: none;
        position: absolute;
        top: 70px;
        right: 20px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 10px;
        z-index: 1000;
        flex-direction: column;
    }

    nav a {
        display: block;
        margin: 10px 0;
        color: #0080ff;
        text-decoration: none;
    }


    /* Show nav when .show-nav class is added */
    .show-nav nav {
        display: flex;
    }

    /* Ajustando imagens do slider */
    #contact-left-image {
        display: none;
    }
    
    .contact-right img {
        margin-top: 0;
    }
    #slider-wrapper {
        display: none;
    }
    
    .slider-wrapper img {
        display: none;
    }
}

/* Styles spécifiques au Galaxy Z Fold 5 */
@media (max-width: 344px) {
    header h1, header p {
        padding-left: 15px;
        padding-right: 8px;
        text-align: left;
    }
    form {
        padding: 15px;
    }

    .contact-left, .contact-right {
        width: 100%;
        padding: 0;
    }

    .contact-left-title {
        font-size: 20px;
        text-align: right;
    }
    #contact-left-title h2 {
        display: none;
    }
    .contact-left button[type="submit"] {
        width: 100%;
        margin-top: 20px;
        font-size: 14px;
    }

    #contact-left-image, .contact-right img {
        display: none;
    }

    .contact-left-input, .contact-left textarea, .contact-left select {
        width: 240px;
        font-size: 14px;
        padding: 8px;
        margin-right: 5px;
        margin-left: 5px;
    }

    .availability label {
        font-size: 12px;
    }

    h1 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }

    .menu-icon {
        display: block; /* Exibe o ícone do menu */
        font-size: 30px; /* Tamanho do ícone */
        color: #0080ff; /* Cor do ícone */
        cursor: pointer; /* Cursor indicando que o ícone é clicável */
        position: absolute; /* Posiciona o ícone no topo */
        top: 50px; /* Alinhamento ao topo */
        right: 20px; /* Alinhamento à direita */
        z-index: 1001; /* Garante que o ícone fique acima de outros elementos */
    }

    nav {
        display: none;
        position: absolute;
        top: 70px;
        right: 20px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 10px;
        z-index: 1000;
        flex-direction: column;
    }

    nav a {
        display: block;
        margin: 10px 0;
        color: #0080ff;
        text-decoration: none;
    }


    /* Show nav when .show-nav class is added */
    .show-nav nav {
        display: flex;
    }

    /* Ajustando imagens do slider */
    #contact-left-image {
        display: none;
    }
    
    .contact-right img {
        margin-top: 0;
    }
    #slider-wrapper {
        display: none;
    }
    
    .slider-wrapper img {
        display: none;
    }

    /* Ensure the WhatsApp button stays on top */
    .whatsapp-button {
        z-index: 1002; /* Higher z-index to stay above everything */
    }
    
    footer {
        z-index: 1000;
        position: fixed;
        background-color: #0080ff;
        color: white;
        text-align: center;
        font-size: 15px;
        width: 100%;
        height: 30px;
        padding-top: 5px;
        padding-bottom: 15px;
    }
}
  

