body {
    font-family: 'Outfit';
    background: linear-gradient(#ffdad5, #fff7f9);
    padding-top: 15px;
}

footer {
    background-color: #0080ff;
    color: white;
    text-align: center;
    font-size: 15px;
    width: 100%;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.space-before {
    margin: 1vh;
    padding: 1vh;
}

.contact-container {
    min-height: 85%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

form {
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 15px;
} 

.contact-left {
    display : flex;
    flex-direction: column;
    gap: 20px;
}

#contact-left-title h2{
    position: absolute;
    display: flex;
    font-weight: 600;
    color: #a363aa;
    align-items: center;
    text-align: center;
    margin-left: 665px;
    margin-top: 20px;
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 15px;
    width: 400px;
}
#contact-left-image {
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: 700px;
    margin-top: 270px;
}

.contact-right img {
    margin-top: 0;
}

.contact-left textarea {
    width: 400px;
    height: 140px;
    padding-top: 15px;
    padding-left: 15px;
    border-radius: 20px;
}
    
.contact-inputs:focus {
    border: 2px solid #ff994f
}

.contact-left-input {
    width: 400px;
    height: 50px;
    border-radius: 20px;
    padding-left: 15px;
}
    
.contact-left button {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #ff994f, #fa6d86);
    cursor: pointer;
}

.availability label {
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
}

.availability input {
    margin-right: 10px;
}

/* Styles pour le bouton WhatsApp */
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
    background-color: #20c056;
}

#slider-wrapper {
    position: absolute;
    top: 150vh;
    right : 25vh;
    bottom: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    z-index: 1000;
}

.slider-wrapper img {
    width: 265px;
    height: 265px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.space-after {
    margin: 3vh;
    padding: 3vh;
}

@media (max-width: 768px) {
    .contact-left, .contact-right {
        width: 100%;
        padding: 0;
    }
    .contact-left-title {
        text-align: center;
    }
    .contact-left button[type="submit"] {
        width: 100%;
        margin-top: 20px;
    }
    .contact-right img {
        margin-top: 20px;
    }
    /* Mostrar ícone do menu no mobile */
    .menu-icon {
        display: block;
    }
    /* Esconder navegação no mobile */
    nav {
        display: none;
    }
    /* Reordenar o layout para mobile */
    .contact-right {
        order: 1;
    }
    .contact-left {
        order: 2;
    }
    .image-slider {
        order: 3;
    }
}

/* Styles spécifiques au Galaxy Z Fold 5 */
@media (max-width: 344px) {
    .contact-left, .contact-right {
        width: 100%;
        padding: 0;
    }

    .contact-left-title {
        font-size: 20px;
        text-align: center;
    }
    #contact-left-title h2 {
        font-weight: 600;
        color: #a363aa;
        align-items: center;
        text-align: center;
        font-size: 50px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 15px;
        width: 400px;
    }
    .contact-left button[type="submit"] {
        width: 100%;
        margin-top: 20px;
        font-size: 14px;
    }
    #contact-left-image {
        position: relative;
        align-items: center;
        margin-left: 0;
        margin-top: 0;
    }
    .contact-right img {
        display: none;
    }

    .contact-left-input, .contact-left textarea, .contact-left select {
        font-size: 14px;
        padding: 8px;
    }

    .availability label {
        font-size: 12px;
    }

    h1 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }

    .menu-icon {
        font-size: 20px;
    }

    /* Ajustando imagens do slider */
    .image-slider {
        margin-top: 15px;
    }

    .space-before, .space-after {
        margin: 0.5vh;
        padding: 0.5vh;
    }

    footer {
        font-size: 14px;
    }
}
  
    
